<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти в аккаунт</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <!-- Логотип в полукруге -->
        <div class="logo-circle">
            <img th:src="@{/css/images/logo.png}" alt="Company Logo" />
        </div>

        <!-- Форма логина -->
        <div class="form">
            <h2>PANDA FROM CHINA</h2>
            <h1>Войти в аккаунт</h1>

            <form th:action="@{/login}" method="post">
                <!-- Поле username -->
                <div class="form-group">
                    <label for="username">Никнейм:</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        required
                        placeholder="Введи свой никнейм"
                    >
                </div>

                <!-- Поле password -->
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        required
                        placeholder="Введи свой пароль"
                    >
                </div>

                <!-- Кнопка входа -->
                <div class="button-container">
                    <button type="submit">Войти</button>
                </div> 

                <!-- Ссылка на регистрацию -->
                <div class="button-container">
                    <a th:href="@{/register}">
                        <button type="button">Регистрация</button>
                    </a>
                </div>

                <div th:if="${param.error != null}" class="alert-danger">
                    <span th:text="${#strings.unescapeJava(param.error[0])}"></span>
                    <button class="close-btn" onclick="this.parentElement.remove()">×</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
