<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda From China | Заказы</title>
    <link rel="icon" href="/css/images/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/orders.css}" rel="stylesheet" />
</head>
<body>
<div class="order-container container mt-5">
    <h1 class="order-title mb-4">Заказы:
        <span th:text="${phone}"></span>
    </h1>

    <!-- Блок с заказами -->
    <div th:if="${#lists.isEmpty(orders)}" class="no-orders alert alert-info">
        <p>Заказов не найдено</p>
    </div>

    <div th:if="${!#lists.isEmpty(orders)}">
        <table class="orders-table table table-striped">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Цена</th>
                <th>Трек</th>
                <th>Доставка</th>
                <th>Вес</th>
                <th>Товар</th>
                <th>Прогресс доставки</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.price} + ' ₽'"></td>
                <td th:text="${order.track}"></td>
                <td th:text="${order.deliveryprice} + ' ₽'"></td>
                <td th:text="${order.weight} + ' кг'"></td>
                <td th:text="${order.nameofgood}"></td>
                <td th:text="${order.whereare}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
